* {
  margin: 0;
  padding: 0;
}
nav {
  height: 70px;
  display: flex;
  justify-content: center;
  background-color: saddlebrown;
  color: whitesmoke;
  font-style: italic;
  font-size: 30px;
  font-weight: bolder;
}
ul {
  list-style-type: none;
  margin-top: 20px;
}
